In [77]:
import pandas as pd

data = pd.read_csv("train_data_50_main.csv")

data['Date'] = pd.to_datetime(data['Date'])

# set indexes 
data.set_index(["Ticker", "Date"], inplace=True)

data

                        Open       High        Low      Close  Adj Close  \
Ticker Date
ZJ     2015-07-06   5.699535   5.758382   5.695429   5.747890   5.193889
       2015-07-07   5.742872   5.754733   5.646161   5.733748   5.181111
       2015-07-08   5.678550   5.685849   5.590051   5.591420   5.052501
       2015-07-09   5.649811   5.659391   5.438599   5.477374   4.949447
       2015-07-10   5.562680   5.649811   5.529379   5.623808   5.081768
...                      ...        ...        ...        ...        ...
ZA     2021-04-05  10.455685  10.459335  10.244017  10.309707   9.270878
       2021-04-06  10.371748  10.499479  10.265913  10.280512   9.244624
       2021-04-07  10.289635  10.358975  10.262265  10.326130   9.285647
       2021-04-08  10.205698  10.233069  10.094389  10.218471   9.188834
       2021-04-09  10.218471  10.298759  10.132709  10.194749   9.167504

                      Volume
Ticker Date
ZJ     2015-07-06  112241600
       2015-07-07  187787200
       2015-07-08  243046400
       2015-07-09  314380000
       2015-07-10  245418000
...                      ...
ZA     2021-04-05   23264800
       2021-04-06   18926300
       2021-04-07   22385000
       2021-04-08   21999300
       2021-04-09   20020700

[72600 rows x 6 columns]

In [111]:

major_indices = ['^SOX', '^DJI', '^DJT', '^DJU','^SPX', '^MID','^SML', '^SP1500', '^NBI', '^XAU', '^OSX', '^VIX']

print(major_indices)

['^SOX', '^DJI', '^DJT', '^DJU', '^SPX', '^MID', '^SML', '^SP1500', '^NBI', '^XAU', '^OSX', '^VIX']

In [112]:
import yfinance as yf
from datetime import datetime

index_tickers = ['DJIA', 'DJT', 'DJU', 'NDX', 'COMP', 'NYA', 'SPX', 'MID', 'OEX', 'IXCO', 'SOX', 'XAU', 'XOI', 'RUT']
start_date = "2015-07-06"  # Example start date
end_date = "2021-04-09"  # Example end date


all_indices = pd.DataFrame()

for index in major_indices:
    def get_stock_data(symbol, start_date, end_date):
        ticker = yf.Ticker(symbol)
        data = ticker.history(start=start_date, end=end_date)
        return data

    # Example usage
    stock_data = get_stock_data(index, start_date, end_date)

    stock_data = stock_data.reset_index(drop=False)

    stock_data['Date'] = pd.to_datetime(stock_data['Date']).dt.date

    df_with_ticker = pd.DataFrame({'Ticker': [index] * len(stock_data)})  # Creating a DataFrame with the ticker column

    # Concatenating the two DataFrames
    stock_data = pd.concat([df_with_ticker, stock_data], axis=1)
    all_indices = pd.concat([all_indices, stock_data], axis=0)

^SML: No timezone found, symbol may be delisted

In [113]:
all_indices

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Adj Close
0,^SOX,2015-07-06,678.179993,685.280029,672.429993,675.109985,0.0,0.0,0.0,NaN
1,^SOX,2015-07-07,673.489990,674.650024,652.880005,672.909973,0.0,0.0,0.0,NaN
2,^SOX,2015-07-08,662.840027,663.440002,653.440002,655.250000,0.0,0.0,0.0,NaN
3,^SOX,2015-07-09,665.799988,667.809998,646.530029,646.640015,0.0,0.0,0.0,NaN
4,^SOX,2015-07-10,654.250000,661.130005,653.659973,658.880005,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
1446,^VIX,2021-04-01,18.600000,18.639999,17.290001,17.330000,0.0,0.0,0.0,NaN
1447,^VIX,2021-04-05,18.160000,18.400000,17.350000,17.910000,0.0,0.0,0.0,NaN
1448,^VIX,2021-04-06,18.070000,18.299999,17.370001,18.120001,0.0,0.0,0.0,NaN
1449,^VIX,2021-04-07,17.990000,18.170000,16.870001,17.160000,0.0,0.0,0.0,NaN
1450,^VIX,2021-04-08,16.920000,17.360001,16.549999,16.950001,0.0,0.0,0.0,NaN

In [114]:
all_indices = all_indices.drop(columns=['Stock Splits', 'Dividends'])
all_indices.set_index(["Ticker", "Date"], inplace=True)

all_indices

                         Open        High         Low       Close  Volume  \
Ticker Date
^SOX   2015-07-06  678.179993  685.280029  672.429993  675.109985     0.0
       2015-07-07  673.489990  674.650024  652.880005  672.909973     0.0
       2015-07-08  662.840027  663.440002  653.440002  655.250000     0.0
       2015-07-09  665.799988  667.809998  646.530029  646.640015     0.0
       2015-07-10  654.250000  661.130005  653.659973  658.880005     0.0
...                       ...         ...         ...         ...     ...
^VIX   2021-04-01   18.600000   18.639999   17.290001   17.330000     0.0
       2021-04-05   18.160000   18.400000   17.350000   17.910000     0.0
       2021-04-06   18.070000   18.299999   17.370001   18.120001     0.0
       2021-04-07   17.990000   18.170000   16.870001   17.160000     0.0
       2021-04-08   16.920000   17.360001   16.549999   16.950001     0.0

                   Adj Close
Ticker Date
^SOX   2015-07-06        NaN
       2015-07-07        NaN
       2015-07-08        NaN
       2015-07-09        NaN
       2015-07-10        NaN
...                      ...
^VIX   2021-04-01        NaN
       2021-04-05        NaN
       2021-04-06        NaN
       2021-04-07        NaN
       2021-04-08        NaN

[15945 rows x 6 columns]

In [115]:
hidden_tickers = data.index.get_level_values("Ticker").unique()
print(len(hidden_tickers))

spx_tickers =  all_indices.index.get_level_values("Ticker").unique()
print(len(spx_tickers))

correlations = []


for ticker1 in hidden_tickers:
    for ticker2 in spx_tickers:
        # Ensure that both tickers are present in their respective DataFrames
        if ticker1 in data.index and ticker2 in all_indices.index:
            # Calculating the correlation for the chosen tickers
            correlation = data.loc[ticker1]['Close'].corr(all_indices.loc[ticker2]['Close'])
            correlations.append({'Ticker1': ticker1, 'Ticker2': ticker2, 'Correlation': correlation})

        else:
            print("Tickers not found in the DataFrames.")

correlation_df = pd.DataFrame(correlations)
sorted_correlation_df = correlation_df.sort_values(by='Correlation', ascending=False)

50
11

In [116]:
print(sorted_correlation_df.head(100))

    Ticker1  Ticker2  Correlation
490      ZO  ^SP1500     0.986355
488      ZO     ^SPX     0.986226
198       P     ^SOX     0.986155
209       J     ^SOX     0.985954
37        V     ^SPX     0.984610
..      ...      ...          ...
358      ZP  ^SP1500     0.914690
341       G     ^SOX     0.913933
59       ZG     ^SPX     0.911369
231      ZB     ^SOX     0.911162
70        R     ^SPX     0.909711

[100 rows x 3 columns]